body {
    /*deixar em porcentagem faz com que fique responsivo a qualquer tamanho de tela*/
    padding-left: 45%;
    padding-top: 20%;
}

#campo1, #campo2 {
    border-radius: 5px;
    height: 80px;
    width: 80px;
    margin: auto;
    font-size: 30px;
}


